/*ESTILOS GENERALES*/
:root {
    --color-general-text: #333;
    --color-backgroud-navbar: #3785e5;
    --color-text-navbar: white;
    --color-hover-navbar: #1756cc;

    --color-border-headers: #eee;

    --color-background-btn-success: #5cb85c;
    --color-border-btn-success: #4cae4c;
    --color-background-btn-success-hover: #449d44;
    --color-border-btn-success-hover: #398439;

    --color-background-btn-delete: #d9534f;
    --color-border-btn-delete: #d43f3a;
    --color-background-btn-delete-hover: #c9302c;
    --color-border-btn-delete-hover: #ac2925;

    --color-border-post: #ddd;
    --color-name-user: #337ab7;

    --color-text-black: #555;
    --color-text-nickname: #969393;
    --color-number-stats: green;

    --color-border-textarea: #ccc;
    --color-border-textarea-focus: #66afe9;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}


body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-general-text);
}

.layout{
    display: grid;
    grid-template-areas: 
        "nav nav " 
        "content aside";
    grid-template-rows: 60px;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;
    max-height: 80rem;
        
}


/*ESTILOS NAVBAR*/
.layout__navbar{
    width: 100%;
    grid-area: nav;
    background-color: var(--color-backgroud-navbar);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    height: 5.3rem;
}

.layout__navbar *{
    color: var(--color-text-navbar);
}

.navbar__title{
    font-size: 1.8rem;
    padding: 1.8rem;
}

.navbar__container-lists{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
}

.container-lists__menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-list__link{
    padding: 1.8rem;
}

.menu-list__title{
    padding: 0.5rem;
}

.navbar__title:hover, .menu-list__link:hover,
.list-end__link:hover, .list-end__item:first-child:hover{
    background-color: var(--color-hover-navbar);
}

.container-lists__list-end{
    display: flex;
    align-items: center;
}

.list-end__item:first-child{
    padding: 0.6rem;
}

.list-end__img{
    width: 4rem;
    height: 4rem;
    border-radius: 3.2rem;
}

.list-end__link{
    padding: 1.8rem;
}

.list-end__name{
    padding: 0.5rem;
}

/*ESTILOS DE CONTENIDO*/
.layout__content{
    grid-area: content;
    padding: 0 1.5rem;
}

.content__login{
    margin-top: 4.5rem;
}

.content__header, .aside__header{
    width: 100%;
    border-bottom: 1px solid var(--color-border-headers);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}


.content__title, .aside__title{
    font-size: 3.5rem;
    margin-right: 1rem;
}

.content__button{
    background-color: var(--color-background-btn-success);
    color: var(--color-text-navbar);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
}


.content__button:hover, .content__btn-more-post:hover {
    background-color: var(--color-background-btn-success-hover);
    border-color: var(--color-border-btn-success-hover);
}


.content__posts{
    width: 100%;
}


.posts__post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-border-post);
    padding: 1.5rem;
}


.post__container{
    display: flex;
    flex-direction: row;
}

.post__image-user{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100rem;
    margin-right: 1.5rem;
    overflow: hidden;
}

.post__user-image{
    width: 100%;
    height: 100%;
    border-radius: 3.2rem;
}

.post__user-info{
    margin-top: 1rem;
}

.user-info__name{
    color: var(--color-name-user);
}

.user-info__create-date{
    color: gray;
}

.post__content{
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.post__buttons{
    display: flex;
    align-items: center;
 
}

.post__button{
    color: var(--color-text-navbar);
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    background-color: var(--color-background-btn-delete);
    border-color: var(--color-border-btn-delete);
}


.post__button:hover{
    background-color: var(--color-background-btn-delete-hover);
    border-color: var(--color-border-btn-delete-hover);
}

.content__container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content__btn-more-post{
    background-color: var(--color-background-btn-success);
    color: var(--color-text-navbar);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}

/*ESTILOS BARRA LATERAL*/
.layout__aside{
    grid-area: aside;
    margin-right: 2rem;
    
}

.aside__container{
    width: 100%;
    
}

.aside__profile-info{
    border: 1px solid var(--color-border-post);
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.profile-info__general-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.general-info__container-avatar{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100rem;
    margin-right: 1.5rem;
    overflow: hidden;
}

.container-avatar__img{
    height: 100%;
}

.container-names__name{
    color: var( --color-text-black);
    font-size: 1.7rem;
}

.container-names__nickname{
    color: var( --color-text-nickname);
    font-size: 1.7rem;
}

.profile-info__stats{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-border-headers);
}

.stats__following:first-child{
    padding-left: 0.6rem;
}

.stats__following{
    margin-top: 1rem;
    padding: 0 1.8rem;
    border-right: 2px solid var(--color-border-headers);
    text-align: center;
}



.following__title{
    display: block;
    font-weight: bold;
    color: var( --color-text-black);
}

.following__number{
    font-weight: bold;
    color: var(--color-number-stats);
}

.following__link:hover >  .following__number{
    color: var(--color-hover-navbar);
}


.aside__container-form{
    width: 100%;
    border: 1px solid var(--color-border-post);
    padding: 2.5rem;
    border-radius: 0.4rem;
}

.container-form__form-post{
    width: 100%;
}

form{
    max-width: 300px;
}

.aside__container-form form{
    max-width: 100%;
}

.form-post__inputs, 
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    margin-bottom: 1rem;
}

.form-post__label, label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.form-post__textarea,
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    display: block;
    width: 100%;
    height: auto;
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    color: var( --color-text-black);
    border: 1px solid var(--color-border-textarea);
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: all ease-in-out 150ms;
}

.form-post__textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
textarea:focus{
    border-color: var(--color-border-textarea-focus);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-post__image{
    width: 100%;
}


.form-post__btn-submit,
input[type="submit"],
button{
    background-color: var(--color-background-btn-success);
    color: var(--color-text-navbar) !important;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}
.alert{
    width: 50%;
    display: block;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}
.alert-success{
    background: #5cb85c;
    border: 1px solid #0c8e0c;
    color: white;
}
.alert-danger{
    background: #d9534f;
    border: 1px solid #d43f3a;
    color: white;
}
